* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(223, 240, 253);
    display: flex;
    justify-content: center;
}

.root {
    width: 80%;
    height: 100%;
    min-height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5%;
    border-radius: 15px;
    padding-bottom: 20px;

}

.nav {
    width: 100%;
    height: 8vh;
    padding: 1%;
    background-color: rgb(227, 241, 255);
    display: flex;
    justify-content: space-between;
    gap: 5%;
    font-size: 17px;
    position: sticky;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.links {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;

}

.logo {
    cursor: pointer;
    width: 8%;
    height: 100%;
}

.links a {
    height: auto;
    width: auto;
}

.links a:hover {
    cursor: pointer;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5vh;
    height: 1100%;
    margin-top: 20px;


}

.post {
    width: 45%;
    min-height: 25vh;
    border: 1px black solid;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "img-post   author"
        "img-post   titel";
    padding: 2%;
    gap: 2%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

.post:hover {
    border: 1px rgb(120, 120, 120) solid;
    box-shadow: rgba(10, 10, 10, 8.16) 10px 10px 36px 0px, rgba(10, 10, 10, 0.06) 0px 0px 0px 1px;
    background-color: rgb(232, 244, 255);
    cursor: pointer;
}

.img-post {
    grid-area: img-post;
    height: 100%;
    width: 100%;

}

.author,
.description {
    grid-area: author;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    font-size: 1.2em;
    overflow: auto;

}

.title,
.content {
    padding: 3px;
    grid-area: titel;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    overflow: auto;

}

.one-post {
    width: 100%;
    height: 100%;
    min-width: 600px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 60%;
    grid-template-areas:
        "img-post   author"
        "img-post   titel";
    padding: 2%;
    gap: 2%;
}

form {
    width: 60%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 2% 0;
    padding: 2% 0;
    font-family: Arial, Helvetica, sans-serif;
}

form>div {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

form>button {
    width: 90%;
    height: 50px;
    font-size: 20px;
    border-radius: 7px;
    border: 1px black solid;
    background-color: rgb(170, 217, 255);

}

form button:hover {
    cursor: pointer;
    background-color: rgba(170, 217, 255, 0.662);
}

div>input {
    height: 40px;
    padding: 5px;
}

div>input,
div>textarea {
    border-radius: 7px;
    background-color: rgb(242, 248, 253);
    border: 1px black solid;
}

.inputLabelImg {
    display: flex;
    flex-direction: row;
}

.inputLabelImg>input {
    border: 0px black solid;
    background-color: white;
}